<% provide(:title, "My List") %>
<h1 class="page-head">My Features</h1>
<div class="row">
    <% current_list.features.each do |feature| %>
    <div id="<%= " feature_#{feature.id}" %>" class="large-4 medium-6 small-12 columns">
        <%= link_to '', :controller => "features", :action => "add_to_list", :id => feature do %>
        <p class="tile">
            <%= feature.description %>
        </p>
        <% end %>
    </div>
    <% end %>
</div>
