<% provide(:title, "Home") %>
<h1 class="page-head">Home</h1>
<p>Welcome to IntelliHome! This site still under construction. </p>
<p>Click on "Categories" to begin shopping for your new smart home experience!</p>
