<% provide(:title, "Home - Save Money - Save Energy - Save Time") %>
<!-- First descriptional div. Should contain product images, including logo, name, and app image, and a short tagline about the application. -->
<div id="home" class="anchor"></div>
<div id="landing" class="section mainTitle">
    <!-- <%= image_tag 'kitchen-nofade.png', alt: "Kitchen Image" %> -->
    <h1>Welcome to <span class="bold">IntelliHome</span></h1>
    <h2>Smart <span class="light">Shopping for</span> Smart <span class="light">Homes</span></h2>
</div>
<!-- This section is recommended to be a collection of slides describing the purpose and functionality of the app, as well as community guidelines. -->
<div id="about" class="anchor"></div>
<div class="section about">
    <div class="small-12 medium-6 columns">
        <h2>What is <span class="bold">IntelliHome</span>?</h2>
        <p>IntelliHome is a marketplace designed to simplify the shopping process to create your ideal smart home.</p>
    </div>
    <div class="small-12 medium-6 columns">
        <h2>How does it work?</h2>
        <p>You only have to specify what features you would like your smart home to have, and we’ll show you the products you need to make it happen!</p>
    </div>
</div>
<!-- App download icons here. -->
<div id="download" class="anchor"></div>
<div class="section savings">
    <div class="small-12 medium-4 columns">
        <h2><span class="bold">Save Money</span></h2>
        <img src="https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/Money+Outline.png" alt="">
        <p>Save on electricity, insurance, and more with the latest equipment!</p>
    </div>
    <div class="small-12 medium-4 columns">
        <h2><span class="bold">Save Time</span></h2>
        <img src="https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/Time+Outline.png" alt="">
        <p>Get your smart home running in no time!</p>
    </div>
    <div class="small-12 medium-4 columns">
        <h2><span class="bold">Save Energy</span></h2>
        <img src="https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/Energy+Outline.png" alt="Energy Badge">
        <p>Save on electricity, insurance, and more with the latest equipment!</p>
    </div>
</div>
<!-- Contact Information -->
<div id="meet" class="anchor"></div>
<div class="section meet">
    <h2>Meet the Team</h2>
    <div class="small-12 medium-6 columns team">
        <div class="columns small-6">
            <img src="https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/Michael.jpg" alt="Michael Loubier">
        </div>
        <div class="columns small-6">
            <p class="sectionText">
                Michael Loubier </br>
                Cofounder</br>
                Full-Stack Developer</br>
                Mobile Developer</br>
                michael@shopintellihome.com</br>
            </p>
        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <div class="columns small-6">
            <img src="https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/Gian.jpg" alt="Gian Vitola">
        </div>
        <div class="columns small-6">
            <p class="sectionText">
                Gian Franco Vitola </br>
                Cofounder</br>
                Back-End Developer</br>
                Mobile Developer</br>
                gian@shopintellihome.com</br>
            </p>
        </div>
    </div>
</div>
