<% provide(:title, "Users") %>
<h1 class="page-head">Users List</h1>
<div class="row">
    <% @users.each do |user| %>
        <div id="<%= " user_#{user.id}" %>" class="large-3 medium-4 small-6 columns">
            <p><%= user.first_name %> <%= user.last_name %> </p>
        </div>
    <% end %>
</div>
