<% provide(:title, "My List") %>
<div id="list_head" class="list_head">
    <h1><%= @user.first_name.upcase %>'S FEATURES</h1>
</div>
<div class="row">
    <% @features.each do |feature| %>
    <div id="<%= " feature_#{feature.id}" %>" class="large-4 medium-6 small-12 columns">
        <%= link_to toggle_feature_path(feature.id), method: :post do %>
        <p class="tile">
            <%= feature.description %>
        </p>
        <% end %>
    </div>
    <% end %>
</div>
