html, body {
    width: 100%;
    height: 100%;
}

.navbar {
    background-image: linear-gradient(#6DBBFF 20%, #3B85FF 100%);
}

.navbar-brand a {
    color: #0273D4;
    background-color: white;
}

.container {
    height: 100%;
}

.selection {
  padding-top: 100px;
  width: calc(100% - 120px);
  margin-right: 90px;
}

.selection > div {
  padding: 10px;
}

h4.featureList {
  background-color: #474647;
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.navbar-nav > li.navbar-right {
    float: right !important;
  }

/* These lines modify/add to existing Boostrap to provide a right-aligned, vertical navbar. */
.navbar-fixed-side-left {
  left: 0;
}
.navbar-fixed-side-right {
  right: 0;
}
.navbar-fixed-side {
  position: fixed;
  top: 60px;
  border-width: 0;
  border-radius: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 200px;
  margin-bottom: 0;
  border: 0px solid transparent;
  height: calc(100% - 60px);
  background-image: linear-gradient(#3B85FF 20%, #6DBBFF 100%);
}
.navbar-fixed-side .navbar-toggle {
  float: none;
  margin: 0;
}
.navbar-fixed-side .nav > li > a {
  width: 100%;
  padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
  padding: 5px;
}
.navbar-fixed-side .dropdown-header {
  padding: 5px;
}
.navbar-fixed-side .navbar-nav {
  margin: 0;
}
.navbar-fixed-side .navbar-nav > li {
  float: none;
}
.navbar-fixed-side .navbar-nav > li > a {
  padding: 5px;
  line-height: 20px;
}
.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
}
.navbar-fixed-side .navbar-collapse {
  padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse {
  margin: 0;
}
.navbar-fixed-side .container .navbar-brand {
  margin: 0;
}
.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
}
/*---------------------------------------*/
