// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* - - - - - - - - - - - - - -
      CATEGORY TILES
- - - - - - - - - - - - - - */
div.category {
    float: left !important;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 2.8vw;
}

div.category a, div.category a:hover, div.category a:visited, div.category a:active, div.category a:focus {
    font-weight: bold;
    color: black;
}

div.category img {
    padding: 0 12% 6%;
    max-width: 100%;
}
