// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.amzn-link {
    margin: auto;
}

.amzn-link iframe {
    display: block;
    margin: 2% auto;
}

[id*="product_"]{
    height: 420px;
}
