<% provide(:title, "Categories") %>
<div class="container">
    <div class="row">
        <% @categories.each do |category| %>
        <div id="<%= " category_#{category.id}" %>" class="category">
            <%= link_to category_path(category) do %>
            <h1 class="tile-label">
                <%= category.name %>
            </h1>
            <div class="img-holder">
                <%= image_tag("https://s3-us-west-1.amazonaws.com/intellihome-hassurunous/images/categories/#{category.name}.jpg") %>
                <div class="overlay"></div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
