<h1 class="page-head">Feature Categories</h1>
<div class="container">
    <div class="row">
        <% @categories.in_groups_of(3, false) do |row_categories| %>
            <% for category in row_categories %>
                <div id="<%= " category_#{category.id}" %>" class="small-3 columns category">
                    <%= link_to category_path(category) do %>
                    <div class="tile-label">
                        <span><%= category.name %></span>
                    </div>
                    <%= image_tag("http://s3.amazonaws.com/intellihome-hassurunous/categories/#{category.name}.png") %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
