<% provide(:title, "Features") %>
<h1 class="page-head">All Features List</h1>
<div class="row">
    <% @features.each do |feature| %>
    <div id="<%= " feature_#{feature.id}" %>" class="large-4 medium-6 small-12 columns">
        <%= link_to feature_path(feature) do %>
        <p class="tile">
            <%= feature.description %>
        </p>
        <% end %>
    </div>
    <% end %>
</div>
